In [1]:
data = pd.read_csv('IT_new.csv',index_col=False)
data.head()

,Agg,GRE,Work ex,Internship,Degree Completed,Winter,German level,Private,Paper Publication,Admission,Unnamed: 10
0,2.369037,1,0,0,0,1,2,0,1,1,NaN
1,1.570236,0,0,0,0,1,0,1,0,1,NaN
2,2.168659,1,0,1,0,0,0,1,0,1,NaN
3,2.910433,0,0,0,0,0,1,0,0,1,NaN
4,2.769733,0,1,0,1,1,1,1,0,0,NaN

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7170 entries, 0 to 7169
Data columns (total 11 columns):
Agg                  7170 non-null float64
GRE                  7170 non-null int64
Work ex              7170 non-null int64
Internship           7170 non-null int64
Degree Completed     7170 non-null int64
Winter               7170 non-null int64
German level         7170 non-null int64
Private              7170 non-null int64
Paper Publication    7170 non-null int64
Admission            7170 non-null int64
Unnamed: 10          0 non-null float64
dtypes: float64(2), int64(9)
memory usage: 616.2 KB

In [3]:
df = data.dropna(axis=1)

In [4]:
df.head()

,Agg,GRE,Work ex,Internship,Degree Completed,Winter,German level,Private,Paper Publication,Admission
0,2.369037,1,0,0,0,1,2,0,1,1
1,1.570236,0,0,0,0,1,0,1,0,1
2,2.168659,1,0,1,0,0,0,1,0,1
3,2.910433,0,0,0,0,0,1,0,0,1
4,2.769733,0,1,0,1,1,1,1,0,0

In [5]:
df["Admission"].value_counts()

0    3783
1    3387
Name: Admission, dtype: int64

In [6]:
corr_matrix=df.corr()
corr_matrix['Admission'].sort_values(ascending=False)

Admission            1.000000
Winter               0.020693
Internship           0.011388
GRE                  0.009874
German level        -0.008178
Degree Completed    -0.010046
Work ex             -0.010046
Paper Publication   -0.012664
Private             -0.022704
Agg                 -0.533930
Name: Admission, dtype: float64

In [7]:
X=df.drop(["Admission","Private"],axis=1)

In [8]:
y=df["Admission"]

In [9]:
X.shape,y.shape

((7170, 8), (7170,))

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [11]:
model = LogisticRegression()

In [12]:
print(cross_val_score(model,X,y,cv=10,scoring='accuracy').mean())

0.7398884239888424

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
model1 = RandomForestClassifier()

In [15]:
print(cross_val_score(model1,X,y,cv=10,scoring='accuracy').mean())

0.6649930264993026

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=43)

In [17]:
model.fit(X_train,y_train)
pred = model.predict(X_test)

In [18]:
print(accuracy_score(pred,y_test))

0.7384937238493724

In [19]:
import xgboost

In [20]:
model2 = xgboost.XGBClassifier()

In [21]:
model2.fit(X_train,y_train)
pred1 = model2.predict(X_test)
print(accuracy_score(pred1,y_test))

0.7168758716875872

In [22]:
from sklearn.model_selection import RandomizedSearchCV

In [23]:
param_grid_LR = {'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],'class_weight':['balanced', None],'max_iter':[100,200,300,400,1000,1500] }

In [24]:
random_search_LR=RandomizedSearchCV(model,param_distributions=param_grid_LR
                                    ,n_iter=10,scoring='roc_auc',n_jobs=-1,cv=5,verbose=3)

In [25]:
random_search_LR.fit(X,y)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:    4.8s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=LogisticRegression(C=1.0, class_weight=None,
                                                dual=False, fit_intercept=True,
                                                intercept_scaling=1,
                                                l1_ratio=None, max_iter=100,
                                                multi_class='auto', n_jobs=None,
                                                penalty='l2', random_state=None,
                                                solver='lbfgs', tol=0.0001,
                                                verbose=0, warm_start=False),
                   iid='deprecated', n_iter=10, n_jobs=-1,
                   param_distributions={'C': [0.001, 0.01, 0.1, 1, 10, 100,
                                              1000],
                                        'class_weight': ['balanced', None],
                                        'max_iter': [100, 200, 300, 400, 1000,
                                                     1500]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=3)

In [26]:
random_search_LR.best_params_

{'max_iter': 100, 'class_weight': 'balanced', 'C': 0.01}

In [27]:
model_tune = LogisticRegression(max_iter= 1000, class_weight= None, C= 0.1)

In [28]:
model_tune.fit(X_train,y_train)
pred_tune = model_tune.predict(X_test)
print(accuracy_score(pred_tune,y_test))

0.7384937238493724

In [35]:
test = [[1.3,0,0,0,0,0,0,0]]

In [36]:
pred_tune = model_tune.predict(test)

In [37]:
pred_tune

array([1], dtype=int64)

In [39]:
d = pd.read_csv("IT_test.csv")
d.head()

,Aggragate,Internship,Degree Comp,Winter,German level,Private,Admission
0,1.001899,0,0,1,1,0,1
1,1.029992,0,1,1,0,1,1
2,1.249762,0,1,0,2,0,1
3,1.246168,0,1,1,1,1,1
4,1.302327,1,0,1,1,1,1

In [40]:
d["Admission"].value_counts()

1    4049
0    2051
Name: Admission, dtype: int64

In [147]:
df_new = pd.read_csv("IT_final.csv")

In [148]:
df_new.head()

,Aggragate,Internship,Degree Comp,Winter,German level,Private,Admission
0,2.698638,0,1,1,1,1,1
1,2.495489,0,0,0,0,0,0
2,2.284620,0,0,1,0,0,0
3,2.692857,0,1,1,1,1,1
4,2.235973,1,1,1,1,0,1

In [150]:
X_new = df_new.drop('Admission',axis=1)

In [151]:
y_new = df_new["Admission"]

In [152]:
X_new.shape,y_new.shape

((7899, 6), (7899,))

In [153]:
df_new["Admission"].value_counts()

1    4049
0    3850
Name: Admission, dtype: int64

In [154]:
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [155]:
random_search_LR.fit(X_new,y_new)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:    5.3s finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=LogisticRegression(C=1.0, class_weight=None,
                                                dual=False, fit_intercept=True,
                                                intercept_scaling=1,
                                                l1_ratio=None, max_iter=100,
                                                multi_class='auto', n_jobs=None,
                                                penalty='l2', random_state=None,
                                                solver='lbfgs', tol=0.0001,
                                                verbose=0, warm_start=False),
                   iid='deprecated', n_iter=10, n_jobs=-1,
                   param_distributions={'C': [0.001, 0.01, 0.1, 1, 10, 100,
                                              1000],
                                        'class_weight': ['balanced', None],
                                        'max_iter': [100, 200, 300, 400, 1000,
                                                     1500]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=3)

In [156]:
X_train_new,X_test_new,y_train_new,y_test_new = train_test_split(X_new,y_new,test_size=0.2,random_state=43)

In [157]:
random_search_LR.best_params_

{'max_iter': 100, 'class_weight': 'balanced', 'C': 1}

In [158]:
model_LR_new = LogisticRegression(max_iter= 200, class_weight= None, C= 1)

In [159]:
model_LR_new.fit(X_train_new,y_train_new)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [160]:
pred_admission = model_LR_new.predict(X_test_new)

In [161]:
print(accuracy_score(pred_admission,y_test_new))

0.9348101265822785

In [162]:
test_LR_new = [[1.8,0,0,0,0,1]]

In [163]:
pred_LR_new = model_LR_new.predict_proba(test_LR_new)[:,1]
pred_LR_new

array([0.88349371])

In [164]:
corr_mat = df_new.corr()

In [166]:
corr_mat["Admission"].sort_values(ascending = False)

Admission       1.000000
Degree Comp     0.487621
Internship      0.261804
Private         0.251829
Winter          0.248910
German level    0.234808
Aggragate      -0.507264
Name: Admission, dtype: float64